@model Publisher

@{
    ViewData["Title"] = "Publisher Details";
}

<h1>Publisher Details</h1>

<dl class="row">
    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.PublisherName)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.PublisherName)</dd>
    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Country)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.Country)</dd>
    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.WebsiteUrl)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.WebsiteUrl)</dd>
    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.CreatedAt)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(model => model.CreatedAt)</dd>
</dl>

<h4>Journals of this publisher</h4>
<table id="PublisherJournalTable" class="table table-bordered">
    <thead>
        <tr>
            <th>Journal Name</th>
            <th>ISSN</th>
            <th>Impact Factor</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var journal in Model.JournalsMinhPvs)
        {
            <tr>
                <td>@journal.JournalName</td>
                <td>@journal.Issn</td>
                <td>@journal.ImpactFactor</td>
                <td><a asp-controller="Journals" asp-action="Details" asp-route-id="@journal.JournalIdMinhPv">Details</a></td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Edit" asp-route-id="@Model.PublisherId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>

@section Scripts {
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            $('#PublisherJournalTable').DataTable({ paging: true, pageLength: 5, searching: true, ordering: true, info: true });
        });
    </script>
}
